APP_NAME=College Bus GenAI Service
APP_ENV=development

# Add your Groq API key here (get one at https://console.groq.com)
GROQ_API_KEY=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
GROQ_MODEL="llama-3.3-70b-versatile"

# The backend Spring Boot URL (needed for real-time tracking)"
SPRING_BOOT_BASE_URL=http://localhost:8085